<div>
<p>My Profile</p>
<form role="form">
	<div class="form-group">
		<label for="username">Username</label>
		<input type="text" class="form-control" ng-model="username" placeholder="Nombre de usuario" id="username">
	</div>
	<div class="form-group">
		<label for="name">Nombre</label>
		<input type="text" class="form-control" ng-model="name"  placeholder="Nombre" id="name">
	</div>
	<div class="form-group">
		<label for="surname">Apellido</label>
		<input type="text" class="form-control" ng-model="surname"  placeholder="Apellido" id="surname">
	</div>
	<div class="form-group">
		<label for="email">E-mail</label>
		<input type="email" class="form-control" ng-model="email"  placeholder="E-mail" id="email">
	</div>
  <button class="btn btn-default">Enviar</button>
</form>
</div>