<div class="form-group">
	<form class="form-group">
		<input type="text" ng-model="username" placeholder="Nombre de usuario" class="form-control"/>
		<input type="password" ng-model="password" placeholder="Contraseña" class="form-control"/>
		<input type="password" placeholder="Repite contraseña" class="form-control"/>
		<input type="text" ng-model="name" placeholder="Nombre" class="form-control"/>
		<input type="text" ng-model="surname" placeholder="Apellido" class="form-control"/>
		<input type="text" ng-model="email" placeholder="Email" class="form-control"/>
		<button ng-click="signin()" class="btn btn-default">Save</button>
	</form>
</div>